table.highlight tbody tr:hover {
    background-color: #757575 !important;
    color: #fafafa !important;
}
table.striped thead tr{
  background-color: #616161 !important;
  color: #fafafa !important;
}
