table.highlight tbody tr:hover {
    background-color: #757575 !important;
    color: #fafafa !important;
}
table.striped thead tr{
  background-color: #616161 !important;
  color: #fafafa !important;
}
.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle;
    height: 80%;
}
